body {
	margin: 0px;
}

.miniimmagini {
	box-sizing: border-box;
	width: 23%;
	margin:1%;
	padding: 15px;
	background: rgba(240, 95, 64, 1);
	border-radius: 25px;
	display: inline-block;
}

@media screen and (max-width: 1000px) {
	.miniimmagini { width: 31.3333333%; }
}

@media screen and (max-width: 750px) {
	.miniimmagini { width: 48%; }
}

@media screen and (max-width: 500px) {
	.miniimmagini { width: 98%; }
}

.snapsh {
	width: 100%;
	border-radius: 10px;
}

.snapsv {
	width:56.25%; 
	border-radius: 10px;
	margin-left: 21.875%;
	margin-right: 21.875%;
}

#immagini {
	position:relative;
	margin-top: 50px;
	margin-bottom: 0em;
	margin-left: 1em;
	margin-right: 1em;
}

.sezione {
	font-size:0px;
}

.tornaindice {
	text-align:center;
}