                    <li>
                        <a href="orecchini.html">Orecchini</a>
                    </li>
					
                    <li>
                        <a href="collane.html">Collane</a>
                    </li>
					
                    <li>
                        <a href="bracciali.html">Bracciali</a>
                    </li>

                    <li>
                        <a href="anelli.html">Anelli</a>
                    </li>

                    <li>
                        <a href="segnalibri.html">Segnalibri</a>
                    </li>
	
                    <li>
                        <a href="vari.html">Oggetti vari</a>
                    </li>
					